/* PREPARO TODO EN 0*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PONGO LA LETRA DE RICK Y MORTY*/
@font-face {
  font-family: "Get Schwifty";
  src: url("../fonts/get_schwifty.ttf") format("truetype");
}

/* HAGO UIN BANNER CON LAS LETRAS*/
.bannerletras {
  font-family: "Get Schwifty", sans-serif;
  display: flex;
  border-radius: 55px;
  padding: 5px;
  text-align: center;
}
/* DEFINO LOS H1 CON LA LETRA DE RICK Y MORTY*/
h1 {
  font-family: "Get Schwifty", sans-serif;
  font-size: 100px;
  color: #48ff00;
  text-shadow: 5px 5px 0 #0640ff;
}

/* PREPARO EL BODY*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* HAGO EL MENU DE NAVEGACION*/
.navbar {
  background: linear-gradient(to bottom, #b86a04, #290117);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Get Schwifty", sans-serif;
  font-size: 40px;
}

/* PREPARO EL LUGAR DEL LOGO DEL NAV*/
.nav_logo {
  font-family: "Get Schwifty", sans-serif;
  display: flex;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: black;
}

/* DEFINO LAS PROPIEDADES DE LOS ITEMS DEL NAV*/
.nav_items a {
  margin: 15px;
  color: white;
  position: relative;
  text-decoration: none;
}
/* HAGO UNA TRANSICION CON COLOR ROJO PARA DESTACAR*/
.nav_items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: rgb(255, 43, 5);
  transition: all 0.5s;
}
.nav_items a:hover::before {
  width: 100% !important;
}
.nav_toggle {
  display: none;
}

/* DEFINO LA MEDIA QUERY HASTA 768*/
@media (max-width: 768px) {
  .nav_items {
    position: absolute;
    top: 280px;
    margin-top: 100px;
    left: 0;
    background: linear-gradient(to bottom, hsl(323, 96%, 80%), #f500f5);
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }
  .navbar {
    font-size: 18px;
    margin-bottom: 220px;
  }
}
.nav_items a {
  text-align: center;
}
.nav_toggle {
  display: flex !important;
  flex-direction: column;
  margin: 15px;
}
.nav_toggle span {
  width: 30px;
  height: 4px;
  background: white;
  margin-bottom: 5px;
  border-radius: 2px;
  transform-origin: 5px 0px;
  transition: all 0.2s linear;
}
.close span {
  transform: rotate(45deg) translate(0px, 0px);
}
.close span:nth-child(2) {
  display: none;
}
.close span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 1px);
}
.open {
  transform: translateX(0) !important;
}

/* DEFINO LAS PROPIEDADES DE LOS TITULOS*/
.titulos {
  margin: 8px;
  padding: 8px;
  background: linear-gradient(to bottom, #033444, #00d9ff);
  font-family: "Get Schwifty", sans-serif;
  font-size: 60px;
  text-align: center;
  border-radius: 8px;
}

/* DEFINO LAS LETRAS DE PARRAFOS*/
.letraclaraparrafo {
  text-align: center;
  color: aliceblue;
  font-size: 25px;
  margin-top: 20px;
}

/* DEFINO LA IMAGEN DE FONDO Y PROPIEDAD DE LA LETRA EN EL BODY*/
body {
  padding: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("../img/galaxia.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*CONTENEDOR DE TEMPORADAS*/
.container_t {
  padding: 3px;
  background: linear-gradient(to bottom, #0e050f, #000000);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*ALINEACION EN FORMA DE GRILLA PARA TEMPORADAS*/
.grid-item_t {
  background: linear-gradient(to bottom, #c772ee, #77038f);
  text-align: center;
  margin: 4px;
  border-radius: 10px;
  width: 160px;
  padding-bottom: 3px;
}
/*PARA IMAGENES TEMPORADA*/
.grid-item_t img {
  padding: 8px;
  width: 150px;
  border-radius: 10%;
}
/*PARA QUE NO QUEDE SUBRAYADO HBO, LE DE COLOR Y SE CENTRE*/
.linkHbo {
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
}

/*PARA QUE NO QUEDE SUBRAYADO Y SEA COLOR NEGRO*/
.linkSencillo {
  text-decoration: none;
  color: black;
}

/* Comienzo estilos Footer */

footer {
  background: linear-gradient(to bottom, #00bfff, #00ff7f);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10%;
}

/*DIVISIONES DE LA LISTA*/
footer div nav ul {
  list-style: none;
}

footer div nav ul li {
  padding: 5px;
  margin: 12px;
  background: linear-gradient(to bottom, #16028a, #0399df);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25%;
}

/* Cambiar el color de fondo de los elementos de la lista del footer en hover */
footer div nav ul li:hover {
  background: linear-gradient(to bottom, #f700ff, #470b69);
  cursor: pointer; /* Cambiar el cursor a una mano para indicar que el elemento es clickable */
}

/*PARA TITULOS DE PIE Y MAS*/
.tituloPie {
  margin: 6px;
  padding: 6px;
  font-family: "Get Schwifty", sans-serif;
  font-size: 45px;
  text-align: center;
}
.letraProfe {
  font-family: "Get Schwifty", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

/* HAGO TODOS LOS CHICHES DE LOS PERSONAJES*/
#personajesvarios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  #personajesvarios {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.personaje {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to bottom, #09ff00, #e6e204);
  border-radius: 10%;
}

.personaje img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.personaje:hover {
  transform: scale(1.1); /* Cambia el tamaño al 110% */
  background: linear-gradient(
    to bottom,
    #0a310c,
    #48ff00
  ); /* Cambia el gradiente de fondo */
}
.personaje {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Agrega transiciones suaves */
}
